body {
    background: #c6eaf6 url("../images/choose/sex_bg.gif") repeat-x;
}

.content {
    background: url("../images/choose/sex_bg.jpg") no-repeat center;
    min-width: 100%;
    height: 600px;
}

.sex-item {
    width: 707px;
    background: url("../images/choose/role.jpg") no-repeat;
}

.sex-item > .sex {
    width: 117px;
    cursor: pointer;
}

.sex-item > * {
    height: 382px;
}

.sex-item > *:hover {
    background: url("../images/choose/role_hover.jpg") no-repeat;
}

.sex02:hover {
    background-position-x: -117px;
}

.sex03:hover {
    background-position-x: -234px;
}

.sex04:hover {
    background-position-x: -351px;
}

.sex05:hover {
    background-position-x: -468px;
}

.sex06:hover {
    background-position-x: -585px;
}

.center {
    width: 970px;
    margin: 0 auto;
}

.center > * {
    position: relative;
    left: -20px;
}

.top {
    height: 145px;
}

.user-img > * {
    height: 382px;
}

#register {
    position: absolute;
    left: 35%;
}

#register label {
    color: #5b9e25;
}

#register input {
    border-radius: 5px;
    width: 120px;
    border: 0;
    padding-left: 10px;
    background-color: #edff91;
    color: #368308;
}

.top-10 {
    position: relative;
    top: -26px;
}

#submit {
    cursor: pointer;
}