.city-logo {
    width: 138px;
    height: 319px;
}

.city-content {
    width: 640px;
    height: 319px;
    padding-left: 10px;
}

.title {
    height: 29px;
}

.title > .item {
    cursor: pointer;
}

.title > .item,
.title > .item-bg {
    width: 89px;
    height: 100%;
    float: left;
}

.title > .item-bg {
    width: 120px;
}

.city-component > .title-logo{
    width: 100px;
    height: 25px;
    margin: 5px 0;
}

.prop-list {
    width: 300px;
    height: 220px;
    background-color: #fff;
    float: left;
    overflow: auto;
}

.prop-list .titles{
    border-bottom: 1px solid #c99c46;
}

.prop-list .title-item,
.prop-list .prop-item > span {
    width: 68px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 5px 0;
    color: #c99c46;
}

.prop-list .prop-item {
    height: 26px;
}

.prop-list .prop-item:hover {
    background-color: #eeddaf;
    font-weight: bold;
}

.prop-list .prop-item:before,
.prop-list .prop-item:after {
    content: "";
    display: inline-block;
    clear: both;
}