* {
    font-family: 微软雅黑;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.clearfix:after,
.clearfix:before {
	content: "";
	display: block;
	clear: both;
}

li {
	list-style: none;
}

.form-inline {
    display: inline-block;
}

.form-block {
	display: block;
	padding-bottom: 20px;
}

.form-block > label {
	display: block;
	margin-bottom: 5px;
}

input, button {
	outline: none;
	border: none;
}

.success {
	color: green;
}

.error {
	color: red;
}